<div class="row">
    <div class="card col s4 m4 offset-m4">    
        <div class="card-content">
            <div class="row">
                <ul class="collapsible">
                    <li *ngFor="let char of characterDBService.characters">
                        <div class="collapsible-header" (click)="onClick($event)">{{char.name}}</div>
                        <div class="collapsible-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, corrupti temporibus. Incidunt, nam neque. Assumenda eaque dolor ipsam beatae vitae </div>
                    </li>
                </ul>                
            </div>
        </div>  
    </div>
</div>


